/////////////////////////////////////////////////////////////////////////////////////////////////////////

//
// BREAKPOINT MIXINS
// 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - MQ SETUP
//
// - CONTENT MIXINS
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////////////////////////////////
// MQ SETUP
/////////////////////////////////////////////////////////////////////////////////////////////////////////


// Choose or make your own depending on how you define the breakpoints in your project.


// MQ Device names
$mobileAndTouch-first: 		                false !default;	//  Default 	
$mobileWide: 				        false !default;	//  ex. min 480px   
$phablet: 					false !default; //  ex. min 600px	
$tablet: 					false !default; //  ex. min 768px	
$tabletWide: 				        false !default; //  ex. min 940px
$laptop: 					false !default; //  ex. min 1220px
$desktop: 					false !default; //  ex. min 1440px		
$tv: 						false !default; //  ex. min 1680px	
$cinema: 					false !default; //  ex. min 1920px


// MQ Size names
$xSmall: 					false !default;	
$small: 					false !default;
$medium: 					false !default; 
$large: 					false !default; 
$largeA: 					false !default; 
$largeB: 					false !default;
$largeC: 					false !default; 
$xLarge: 					false !default; 
$xxLarge: 					false !default; 


// MQ Viewport names
$VP320: 					false !default;
$VP480: 					false !default;
$VP600: 					false !default;
$VP768: 					false !default;
$VP1024: 					false !default;
$VP1280: 					false !default;
$VP1440: 					false !default; 
$VP1680: 					false !default; 
$VP1920: 					false !default;


////// Extras
$msie: 						false !default; // Extra styles for legacy Internet explorer
$no-rwd: 					false !default; // Serve styles for devices/ browsers not supporting MQ
$no-js: 					false !default;
$hover: 					false !default; // Touch-first


////// Choice by option
$couch: 					false !default;
$on-the-go: 				        false !default; 
$speach: 					false !default;
$leap: 						false !default;
$batterySave:                                       false !default;


/////////////////////////////////////////////////////////////////////////////////////////////////////////
// BREAKPOINTS
/////////////////////////////////////////////////////////////////////////////////////////////////////////

// min values for mobile-first

$bp-a: 						240px;	
$bp-b: 						480px; 	
$bp-c: 						600px; 	
$bp-d: 						768px; 
$bp-e: 						940px; 
$bp-f: 						1220px; 
$bp-g: 						1440px; 
$bp-h: 						1680px; 
$bp-i: 						1920px; 



/////////////////////////////////////////////////////////////////////////////////////////////////////////
// CONTENT MIXINS
/////////////////////////////////////////////////////////////////////////////////////////////////////////


// MQ Device
@mixin mobileAndTouch-first { @if $mobileAndTouch-first { @content; } }
@mixin mobileWide 			{ @if $mobileWide 			{ @content; } }
@mixin phablet 				{ @if $phablet 				{ @content; } }
@mixin tablet 				{ @if $tablet 				{ @content; } }
@mixin tabletWide			{ @if $tabletWide			{ @content; } }
@mixin laptop 				{ @if $laptop 				{ @content; } }
@mixin desktop 				{ @if $desktop 				{ @content; } }
@mixin tv 				{ @if $tv 				{ @content; } }
@mixin cinema 				{ @if $cinema 				{ @content; } }

// MQ Size
@mixin xSmall 				{ @if $xSmall 				{ @content; } }
@mixin small 				{ @if $small 				{ @content; } }
@mixin medium 				{ @if $medium 				{ @content; } }
@mixin large 				{ @if $large 				{ @content; } }
@mixin largeA 				{ @if $largeA 				{ @content; } }
@mixin largeB 				{ @if $largeB 				{ @content; } }
@mixin largeC 				{ @if $largeC 				{ @content; } }
@mixin xLarge 				{ @if $xLarge 				{ @content; } }
@mixin xxLarge 				{ @if $xxLarge 				{ @content; } }

// MQ Viewport 
@mixin VP320 				{ @if $VP320				{ @content; } }
@mixin VP480 				{ @if $VP480				{ @content; } }
@mixin VP600 				{ @if $VP600				{ @content; } }
@mixin VP768 				{ @if $VP768				{ @content; } }
@mixin VP1024 				{ @if $VP1024				{ @content; } }
@mixin VP1280 				{ @if $VP1280				{ @content; } }
@mixin VP1440 				{ @if $VP1440				{ @content; } }
@mixin VP1680 				{ @if $VP1680				{ @content; } }
@mixin VP1920 				{ @if $VP1920				{ @content; } }

////// Extras
@mixin msie 				{ @if $msie 				{ @content; } }
@mixin no-rwd 				{ @if $no-rwd 				{ @content; } }
@mixin no-js 				{ @if $no-js 				{ @content; } }
@mixin hover 				{ @if $hover 				{ @content; } }

////// Choice by option
@mixin couch 				{ @if $couch 				{ @content; } }         
@mixin on-the-go 			{ @if $on-the-go 			{ @content; } }
@mixin speach 				{ @if $speach 				{ @content; } }
@mixin leap 				{ @if $leap 				{ @content; } }
@mixin batterySave                      { @if $batterySave                      { @content; } }         /* Ki - Black and White */


/////////////////////////////////////////////////////////////////////////////////////////////////////////
// MEDIA QUERIES - MAX & MIN  @inlcudes
/////////////////////////////////////////////////////////////////////////////////////////////////////////


$fix-mqs: false !default;

@mixin media-min($width) {
        @if $fix-mqs {
                @if $fix-mqs >= $width {
                        @content;        
                }
        }
        @else {
                @media screen and (min-width: $width) {
                        @content;
                }
        }
}

@mixin media-max($width) {
        @if $fix-mqs {
                @if $fix-mqs <= $width {
                        @content;        
                }
        }
        @else {
                @media screen and (max-width: $width) {
                        @content;
                }
        }
}

